p {  
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 16px;
}

.classep {
    padding-left: 15px;
}

h2 { 
    font-family: Arial, Helvetica, sans-serif; 
    color: purple;
    padding-left: 15px;
}

.classeh3 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    color: indigo;
    padding-left: 20px;

}


#tabelaloja {
    border:0;
    width: 100%;
    cellpanding: 20;
    
}

#tdloja {
    width: 33%;
    text-align: center;
    border: 2px solid indigo;
    font-family: Arial, Helvetica, sans-serif;
}

#tabelacontato {
    border: 0;
    width: 100%;
    cellpanding:20;
}

#tdcontato {
    width:50%;
    text-align: center;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;

}

#rodape img{
    align-items: center;
    justify-content:center;
    padding-left: 35%;
    padding-top: 400px;
}

#rodape p {
    text-align: center;
    font-size:13px;
    background-color:#9370DB;
    height: 25px;
    padding-top: 10px;
}
.menu {
    height: 40%;
    width:100%;
    background-color: slateblue;
    padding-bottom: 1px;
    align-items: center;
    display: inline-block;
}

.menu img {
    padding-top: 20px ;
}

.menu a {
    
    margin-top: 5px;
    padding-left: 15px;
    padding-top: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    text-align: center;
    font-size: 26px;
    background-color: slateblue;
    background-position: center;

}

.menu a:hover {
    background-color:;
    color: black;
    border-bottom:3px solid #9370DB;
}

.linkmenu {
    padding: 100%;
}

#formulariocontato label {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    border: indigo 1px solid;
}

#formulariocontato {
    padding: 2px;
    margin-top: 5px;
    border: 2px indigo dotted;
    width: 40%;
    padding-top: 20px;
    padding-bottom: 20px;
}

#formulariocontato textarea {
    width:300px; 
    height: 100px;
}
   

.divprodutos {
    float: right;
    width: 25%;
    height: 5%;
    margin: 0.3%;
    line-height: 24px;
    text-align: center;
    padding-top: ;
    margin-top: 0;
}

.menucategorias {
    font-family: Arial, Helvetica, sans-serif;
   
}
